<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Os presentamos a los dos autores de Quiz!</p>
    <h2>Guillermo Fernández Escobar</h2>
    <img src="images/guillermo.jpg"/>
    <h3>Álvaro González Mejía</h3>
	<img src="images/alvaro.jpg"/>
  </body>
</html>
